root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{kt,kts,java,swift,gradle}]
indent_size = 4

[*.{yml,yaml,json,toml}]
indent_size = 2

[*.{md,mdx,rst,txt}]
max_line_length = off

[Package.swift]
indent_size = 4

[*.pb.swift]
indent_size = 4

[docs/**]
insert_final_newline = unset
trim_trailing_whitespace = unset

[sources/iOS/ios-communications/Sources/PolarBleSdk/sdk/impl/protobuf/**]
insert_final_newline = unset
trim_trailing_whitespace = unset

[sources/Android/android-communications/repo-tools/src/main/kotlin/**]
ktlint_standard = disabled
ktlint_standard_import-ordering = enabled
ktlint_standard_no-wildcard-imports = enabled
