.DS_Store

# Swift Package Manager

.build/
Packages/
.swiftpm
Package.resolved

# CocoaPods local installs
sources/iOS/ios-communications/Pods/
sources/iOS/ios-communications/Podfile.lock
sources/iOS/ios-communications/Generated/
